# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
# Secrets & Environment files
.env
.env.*
*.env
**/.env
!.env.example
.streamlit/secrets.toml

# Node / React
node_modules/
frontend/node_modules/
frontend/dist/
.DS_Store

# Output and Upload folders
uploads/
outputs/
*.xlsx
!templates/*.xlsx

# Local Databases & Scratch
*.sqlite
*.sqlite3
*.db
scratch/
*.gguf
